<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TVScore</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>TVScore</h1>
        <form id="search-form" class="search-form" method="POST">
            <input type="text" id="search-input" class="search-input" name="show_name" placeholder="Enter TV show name" required>
            <button type="submit" class="search-button">Search</button>
        </form>

        {% if heatmap_image_path %}
        <div id="heatmap-container">
            <img src="{{ url_for('static', filename=heatmap_image_path) }}" alt="Heatmap" class="heatmap-img">
        </div>
        {% endif %}
    </div>
</body>
</html>
